<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
    <title>404 Error</title>
</head>
<body>
    {{>header}}
    <div class="error_main">
        <div class="imgbox">
            <img src="images/404.png" alt="404 Error">
        </div>
        <div class="text_404">
            <h3>
                Sorry this Page doesn't Exits , click to return to home Pages
            </h3>
           <div class="btn_error">
            <a href="/" class="btn_about">Home</a>
           </div>
        </div>
    </div>
    {{>footer}}
</body>
</html>