<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
    <title>About</title>
</head>
<body>
    {{>header}}
  <div class="about">
    <div class="main_about">
        <div class="about_image">
            <img src="images/about.jpg" alt="coder image here" class="about_image_images">
        </div>
        <div class="about_text">
            <h2>Awais Tahseen</h2>
            <h3>MERN Stack and BlockChain Developer</h3>
            <p>If you want to contact dont hesitate and visit my site</p>
            <div class="about_btn">
                <a href="#" class="btn_about">Visit</a>
            </div>
        </div>
    </div>
  </div>
{{>footer}}
</body>
</html>