<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
    <title>Matrix Weather</title>
</head>
<body>
    {{>header}}
    <!-- END OF HEADER -->
    <div class="main">
        <div class="text_main">
            <h3>Accurate Weather Reports </h3>
            <p>The goal of weather prediction is to provide information people and organizations can use to reduce weather-related losses and enhance societal benefits, including protection of life and property, public health and safety, and support of economic prosperity and quality of life</p>
            <div class="btn">
                <a href="weather" class="btn_main">Check Now</a>
            </div>
        </div>
    </div>
    
    <!-- START OF FOOTER -->
{{>footer}}
</body>
</html>