<header class="header_main">
        <div class="logo">
            <i class="fa-solid fa-sun icon"></i> 
                <a href="/" class="logo_design"> Matrix Weather</a>    
            <i class="fa-solid fa-sun icon"></i>
        </div>
        <nav class="nav">
            <ul class="list">
            <li class="list_items"><a href="/" class="nav_links">Home</a></li>
            <li class="list_items"><a href="weather" class="nav_links">Weather</a></li>  
            <li class="list_items"><a href="about" class="nav_links">About</a></li>
            </ul>
    </nav>

        <div class="toggle_bar">
            <i class="fa-solid fa-bars toggle"></i>
        </div>
    </header>